#container{
    width: 20%;
    background-color: rgb(255, 123, 0);
}
#repos{
    background-color: blue;
    margin: 15px;
    padding: 30px;
    color: white;
    font-size: 25px;
    margin-bottom: 0px;
    border-radius:8px;
    
}


#reposdata{
    background-color:rgb(228, 228, 235);
    margin: 15px;
    margin-top: 2px;
    padding: 10px;
    border: solid 1px;
    border-radius:8px;
   
}
a{
    text-decoration: none;
}
